<!--
=============================================
; Title: Assignment 5.2
; Author: Verlee Washington
; Date: 08/9/2020
; Description: Contact html
;============================================
-->

<div fxLayout="row wrap">

  <div fxFlex>

    <mat-card class="mat-elevation-z0">
    <mat-card-title class ="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>

    <br />

    <mat-card-content class="align-center">
      <p>
        1001 State Street
      </p>
      <p>
        Cincinnati, Ohio
      </p>
    </mat-card-content>
  </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          Direct: 488-777-9311
        </p>
        <p>
          Toll-free: 1-888-777-9311
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Thanks for visiting us online, please be sure to visit one of our great locations in the Ohio area.
  </p>
</div>
