/*
 *Title: Assignment 5.2
 *Author: Verlee Washington
 *Date: 08/9/2020
 *Description: Creating _theme.scss file
*/

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
