
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 24rem; height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Unsuk Chin</h5>
        <img class="card-img-center"
        src="./assets/Unsuk Chin.PNG"
        alt= "Composers Image">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" style="width: 34rem; height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Biography</h5>
        <p class="card-text">Unsuk Chin (born in 1961) is a South Korean Composer
          of classical music. Ms. Chin taught herself how to play the piano and music
          theory at a young age. She moved to Germany in 1985 where she studied with Sukhi Kang
          in Seoul and Gyorgy Ligeti in Hamburg. Ms. Chin's career has been very successful, and
          she has received multiple awards from the Gaudeamus Award in 1985 to the Bach Prize 2019.
          Unsuk Chin founded the Seoul Philharmonic Orchestra's Ars Nova series, and serves as
          artistic director of the <i>Music of Today</i>series at London's Philharmonia Orchestra.
          You can find her works published exclusively by Boosey & Hawkes.
        </p>
      </div>
    </div>
  </div>

</div>

