/*
 *Title: Assignment 5.3
 *Author: Verlee Washington
 *Date: 08/9/2020
 *Description: Creating a book-list .scss file
*/

.a-link{
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover{
  text-decoration: underline;
}
