<!--
===============================================
; Title: Assignment 1.5
; Author: Verlee Washington
; Date: 07/09/2020
; Modified by:
; Description: Creating a my-details component.
;==============================================
-->

<ul class="list-group">

  <li class="list-group-item">Name: {{ myProfile.fullName }}</li>

  <li class="list-group-item">Favorite Food: {{ myProfile.favoriteFood }}</li>

 <li class="list-group-item">Favorite Color: {{ myProfile.favoriteColor }}</li>

 <li class="list-group-item">
   keywords:
   <span *ngFor="let word of myProfile.keywords">
    {{ word }}
   </span>
 </li>

</ul>
